# .env파일의 예시이다.
# 환경변수 대신에 사용할 수 있다

# 없으면 오류
# DATABASE_URL=postgres://change-me

# 생략 가능
# 기본값 0.0.0.0:3000
# BIND_ADDR=change-me

# 생략 가능
# 기본값 0.0.0.0:50051
# GRPC_BIND_ADDR=change-me

# 생략가능
# 기본값 127.0.0.1:50051
# GRPC_SERVER_ADDR=change-me

# 생략가능
# 기본값 1000
# GRPC_MAX_CONNECTIONS=change-me

# 생략 가능
# 기본값 rustboard-api
# SERVICE_NAME=change-me

# 없으면 오류
# JWT_SECRET=change-me

# 생략 가능
# 기본값 15
# JWT_EXPIRATION_MINUTES=change-me